<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        {% block styles %}{% endblock %}

        {% block scripts %}{% endblock %}
    </head>
    <body style="">
        {% block body %}{% endblock %}
    </body>
</html>
